* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: PantonExtraBold;
    src: url("../assets/fonts/Panton-ExtraBold.ttf");
}

@font-face {
    font-family: MontserratRegular;
    src: url("../assets/fonts/Montserrat-Regular.ttf"),
    url("../assets/fonts/Montserrat-Regular.woff");
}

@font-face {
    font-family: MontserratMedium;
    src: url("../assets/fonts/Montserrat-Medium.ttf");
}


body {
    background-color: #070015;
    font-family: MontserratRegular, sans-serif;
    background-image: url("../assets/images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 30px;
}

.header {
    padding: 33px 15px;
}

.header__container {
    justify-content: space-between;
    display: flex;
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    list-style: none;
    width: 375px;
    justify-content: space-between;
    align-items: center;
}

.list__link {
    text-decoration: none;
    font-size: 15px;
    font-family: MontserratRegular, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.067;

}

.work-time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-time__items {
    color: white;
    margin-left: 10px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__items {
    color: white;
    margin-left: 10px;
    font-size: 15px;
}

.contact__number {
    color: rgb(98, 36, 223);
    text-shadow: 0 -2px 15px rgb(98, 36, 223);
}


.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-bottom: 90px;
    padding-top: 35px;
}


.main__title {
    font-size: 36px;
    font-family: Panton-ExtraBold, sans-serif;
    color: rgb(255, 255, 255);
    max-width: 448px;
    grid-column-start: 1;
    grid-row-start: 2;
    margin-bottom: 200px;
}

.main__text {
    font-size: 15px;
    color: rgb(255, 255, 255);
    max-width: 408px;
    grid-column-start: 1;
    grid-row-start: 2;

}

.main__btn {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-top: 200px;
}

.main__img {
    grid-column-start: 2;
    grid-row: span 3;
}

.main__img img {
    width: 100%;
}

.main__img {
    display: block;
}

.btn {
    background-color: rgb(98, 36, 223);
    width: 262px;
    color: white;
    padding: 18px 0;
    border: 0;
    cursor: pointer;
    font-size: 15px;
}

.advantages__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.one {
    grid-column-start: 1;
    grid-row: 1 / 2;
}

.advantages__big {
    grid-row: 1 / 3
}

.three {
    grid-column-start: 1;
    grid-row: 2 / 4
}

.advantages__small {
    grid-column-start: 2;
}

.advantages__item {
    border: 1px solid rgb(98, 36, 223);
    box-shadow: 0 0 10px 0 #6224df;
    display: flex;
    align-items: flex-start;
    padding: 30px;
    justify-content: space-between;
    cursor: pointer;
}

.advantages__item:not(.advantages__small):hover {
    box-shadow: 0 0 23px 0 rgb(98, 36, 223);
}

.advantage__title {
    font-size: 20px;
    font-family: PantonExtraBold, sans-serif;
    color: rgb(98, 36, 223);
    margin-bottom: 20px;
    max-width: 270px;
}

.advantage__img img {
    width: 100%;
}

.advantage__text {
    font-size: 15px;
    font-family: MontserratRegular, sans-serif;
    color: rgb(255, 255, 255);
    max-width: 230px;
}

.advantages__big {
    display: block;
}

.advantages__big .advantage__text {
    max-width: 433px;
    margin-bottom: 34px;
}

.advantages__small {
    border: unset;
    box-shadow: unset;
    padding: 0;

}

.advantages__small .advantage__text {
    max-width: 380px;
}

.title {
    font-size: 30px;
    font-family: PantonExtraBold, "sans-serif";
    color: rgb(255, 255, 255);
    margin-bottom: 18px;
}

.our-masters__description {
    font-size: 15px;
    color: white;
    max-width: 347px;
    margin-bottom: 50px;
}

.our-masters {
    padding: 80px 0 30px 0;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
    color: rgb(98, 36, 223);
    position: relative;
    border: 2px solid rgb(98, 36, 223);
    top: unset;
    width: 46px;
    height: 46px;
    z-index: 999;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 10px 0 #6224df;;
    margin-left: 50px;
    margin-top: 20px;
}

.swiper-button-next::after {
    content: '>';
    font-size: 25px;

}

.swiper-slide {
    display: block;
    text-align: unset;
    background-color: transparent;
}

.swiper-button-prev::after {
    content: '<';
    font-size: 25px;
}

.our-masters__container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-masters {
    padding-bottom: 55px;
}

.about-master {
    border: 1px solid #6224df;
    box-shadow: 0 0 10px 0 #6224df;;
    padding: 20px 20px 15px 20px;
    background-color: transparent;
    height: 160px;
}

.master {
    font-size: 18px;
    font-family: PantonExtraBold, sans-serif;
    color: rgb(98, 36, 223);
    margin-bottom: 10px;
}

.experience {
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    color: rgb(148, 148, 148);
    margin-bottom: 10px;
}

.master-description {
    font-size: 15px;
    color: rgb(255, 255, 255);
    max-width: 280px;
}

.our-menu {
    padding: 55px 0;
}

.our-menu__list {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    list-style: none;
}

.our-menu__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-top: 58px;

}

.our-menu__item {
    border: 1px solid #6224df;
    box-shadow: 0 0 10px 0 #6224df;;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    align-items: center;
    padding: 30px;
}

.our-menu__item:not(:nth-child(4)):hover {
    box-shadow: 0 0 23px 0 rgb(98, 36, 223);
}

.our-menu__title {
    font-size: 20px;
    font-family: PantonExtraBold, "sans-serif";
    color: rgb(98, 36, 223);
    margin-bottom: 20px;
    grid-column-start: 1;
}

.our-menu__text {
    max-width: 250px;
    grid-column-start: 1;
    grid-row-start: 2;
}

.text-space {
    margin: 15px 0;
    display: inline-block;
}

.our-menu__price {
    margin-top: 40px;
    font-size: 20px;
    font-family: PantonExtraBold, "sans-serif";
    font-weight: bold;
    color: rgb(255, 255, 255);
    grid-column-start: 1;
    grid-row-start: 3;
}

.our-menu__img {
    grid-column-start: 2;
    grid-row-start: span 3;
}

.our-menu__img {
    width: 180px;
    height: 190px;

}

.our-menu__img.first {
    background-image: url("../assets/images/1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.our-menu__img.second{
    background-image: url("../assets/images/2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.our-menu__img.third {
    background-image: url("../assets/images/3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.last-item {
    border: unset;
    box-shadow: unset;
}

.our-menu__text-space {
    margin: 10px 0;
}

.active {
    border-bottom: 1px solid rgb(98, 36, 223);
    padding-bottom: 5px;
    box-shadow: 0 4px 7px -3px #6224df
}

.promo {
    padding: 50px 0;
}

.promo-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 61px;
}

.promo-text {
    max-width: 310px;
}

.promo-description {
    max-width: 300px;
    margin-top: 20px;
}

.our-bar__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 30px;
}

.item1 {
    grid-column-start: 1;
    grid-column: span 2;
    background-image: url("../assets/images/our1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.item2 {
    background-image: url("../assets/images/our2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item3 {
    background-image: url("../assets/images/our3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item4 {
    grid-column-start: 2;
    grid-column: span 2;
    background-image: url("../assets/images/our4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.our-bar__item {
    cursor: pointer;
    height: 300px;
}

.our-bar__item img {
    height: 340px;
    width: 100%;
}

.order {
    padding: 150px 0 75px 0;
}

.order__container {
    background-image: url("../assets/images/reg-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 71px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order__title {
    max-width: 373px;
    text-align: center;
    font-size: 20px;
}

.order__box {
    background-color: black;
    max-width: 570px;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.order__name,
.order__phone {
    display: block;
    width: 350px;
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: 1px solid rgb(98, 36, 223);
    box-shadow: 0 0 10px 0 #6224df;
    margin: 20px 0;
    box-sizing: border-box;
    color: white;
}

.order__phone::placeholder,
.order__name::placeholder {
    color: white;
}


.order__btn {
    width: 350px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.order-warning {
    max-width: 325px;
    font-size: 11px;
    color: rgb(143, 143, 143);
}


.location {
    padding: 100px 0 140px 0;
}


.location__title {
    margin-bottom: 40px;
}

.location-items {
    display: flex;
    align-items: center;
}

.location-content {
    max-width: 290px;
    margin-left: 53px;
}

.location-content__title {
    font-size: 20px;
    font-family: Panton-ExtraBold, sans-serif;
    color: rgb(98, 36, 223);
    margin-bottom: 20px;
}

.location-description {
    margin-bottom: 40px;
}

.location-description .work-time__items {
    margin-left: 0;
}

.socials svg {
    height: 26px;
    width: 26px;
    fill: white;
    margin-right: 16px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.socials svg:hover {
    opacity: 0.1;
}

.socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .order__btn {
    margin-right: 45px;
}

.footer .text-space {
    display: block;
    font-size: 13px;
    color: rgb(147, 147, 147);
}

.burger svg {
    width: 20px;
    height: 16px;
    fill: #6224df;
}

.burger {
    display: none;
}

.swiper-pagination1 {
    display: none;

}

.swiper-pagination-bullet {
    border: 1px solid #6224df;
    height: 16px;
    width: 16px;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #6224df;
}

.promoSwiper {
    display: none;
}

.swiper-pagination2 {
    display: none;
}

.swiper-pagination3 {
    display: none;
}

.our-barSwiper {
    display: none;
}

.our-snaks,
.our-cocktails,
.our-map{
    display: none;
}

.fifth {
    background-image: url("../assets/images/snak1.png");
    background-size: cover;
    background-position: center;
}

.img-salsa {
    background-image: url("../assets/images/snak2.png");
    background-size: cover;
    background-position: center;
}

.img-burgers {
    background-image: url("../assets/images/snak3.png");
    background-size: cover;
    background-position: center;
}

.img-tea {
    background-image: url("../assets/images/drink4.jpg");
    background-size: cover;
    background-position: center;
}
.img-fruitTea {
    background-image: url("../assets/images/drink3.jpg");
    background-size: cover;
    background-position: center;
}
.img-mohito {
    background-image: url("../assets/images/dirnk1.png");
    background-size: cover;
    background-position: center;
}
.img-pinaColada {
    background-image: url("../assets/images/drink2.jpg");
    background-size: cover;
    background-position: center;
}

.img-lager {
    background-image: url("../assets/images/lager.jpg");
    background-size: cover;
    background-position: center;
}

.img-strongAlcohol {
    background-image: url("../assets/images/jameson.jpg");
    background-size: cover;
    background-position: center;
}

.img-softDrink {
    background-image: url("../assets/images/lemonade.jpg");
    background-size: cover;
    background-position: center;
}

.our-map .our-menu__item ul li {
    list-style: none;
    margin-top: 20px;
}


.order__container .main__title {
    display: none;
    text-align: center;
    width: 290px;
    margin-bottom: 0;
}

.form-error {
    color: red;
    display: none;
}